<div class="singin__container">
  <button class="signin__btn-back" routerLink="">Go Home</button>
  <div class="signin__content">
    <h1 class="signin__title">Login</h1>
    <div class="grid w-full m-auto p-3">
      <div class="signin__container-input">
        <label class="singin__label">Username</label>
        <input
          type="text"
          class="signin__input"
          placeholder="Username"
          [(ngModel)]="username"
        />
      </div>
      <div class="signin__container-input">
        <label class="singin__label">Password:</label>
        <input
          type="password"
          class="signin__input"
          placeholder="Password"
          [(ngModel)]="password"
        />
      </div>

      <a href="" class="mt-6 m-auto text-sm">Forgot password?</a>

      <button
        class="bg-green-500 text-white p-1 py-2.5 w-3/6 sm:w-3/6 lg:w-3/6 md:w-3/6 xl:w-3/6 m-auto mt-6 rounded-md hover:bg-green-600 transition hover:transition"
        (click)="validation()"
      >
        Sign in
      </button>
    </div>
  </div>
</div>
