<div class="flex m-auto mt-3 rounded-lg p-2 w-3/4 bg-gray-100 py-8">
  <button
    class="absolute bg-green-600 p-2 rounded text-white hover:bg-green-700"
  >
    ⬅ Go Home
  </button>
  <div
    class="bg-white shadow-xl border-2 mt-3 rounded-xl p-2 m-auto w-full sm:w-2/4  py-8"
  >
    <h1 class="flex mt-4 text-3xl m-auto w-fit">Login</h1>
    <div class="grid w-full m-auto p-3">
      <label class="text-xl ml-10 my-5">Username:</label>
      <input
        type="text"
        class="p-2 rounded border outline-none m-auto w-5/6"
        placeholder="Type your username"
      /><label class="text-xl ml-10 mt-6 mb-3">Password:</label>
      <input
        type="text"
        class="p-2 rounded border outline-none m-auto w-5/6"
        placeholder="Type your username"
      />

      <button class="bg-green-500 text-white p-2 w-3/5 m-auto mt-10 rounded">
        Sign in
      </button>
    </div>
  </div>
</div>
