<div
  class="w-5/6 flex m-auto border my-7 border-gray-500 p-2 rounded relative"
  [ngClass]="status === true ? 'bg-gray-400' : 'bg-sky-400'"
>
  <div class="p-2">
    <h2
      class="text-2xl font-semibold text-gray-100 bg-blue-950 w-fit px-3 py-1 rounded"
      [ngClass]="
        status === true ? 'text-gray-100 line-through bg-gray-600' : ''
      "
    >
      {{ title }}
    </h2>
    <p
      class="mt-2"
      [ngClass]="
        status === true
          ? 'text-gray-100 line-through
  '
          : ''
      "
    >
      {{ description }}
    </p>
  </div>
  <app-task-option [index]="index" [status]="status"></app-task-option>
</div>
