<div
  class="flex hover:cursor-pointer justify-between gap-3 absolute right-4 bg-white rounded p-0.5 border"
>
  <p
    class="hover:scale-110 hover:transition transition"
    (click)="completeTask(index)"
    *ngIf="status === false"
  >
    ✅
  </p>
  <p
    class="hover:scale-110 hover:transition transition"
    (click)="completeTask(index)"
    *ngIf="status === true"
  >
    🙌
  </p>
  <p
    class="hover:scale-110 hover:transition transition"
    (click)="deleteTask(index)"
  >
    🗑️
  </p>
</div>
