<div
  class="w-5/6 sm:w-3/4 md:w-3/4 lg:w-3/4 xl:w-3/4 m-auto p-2.5 border bg-gray-200 border-gray-400"
>
  <div class="flex gap-3 justify-between">
    <input
      type="text"
      placeholder="Task Title"
      class="p-1.5 focus:outline-red-300 w-3/4 border border-gray-300"
      [(ngModel)]="task.title"
      value="task.title"
    />
    <input
      type="text"
      placeholder="Description"
      class="p-1.5 focus:outline-red-300 w-3/4 border border-gray-300"
      [(ngModel)]="task.description"
      value="task.description"
    />
    <button
      type="submit"
      class="bg-green-400 hover:cursor-pointer active:scale-95 p-1 px-4 text-green-900 rounded border-2 border-green-500"
      (click)="addTask()"
    >
      Add
    </button>
  </div>
</div>
